.App {
  font-family: sans-serif;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table  {
  margin-left: 100px;
}
th, td {
  padding: 15px;
}

.pagination {
 
  margin: 50px 60px ;
}
.pagination > li > button,
.pagination > li > span {
  position: relative;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  outline: 0;
}
.pagination > li > button:hover,
.pagination > li > span:hover,
.pagination > li > button:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > li > button.active,
.pagination > li > span.active,
.pagination > li > button.active:hover,
.pagination > li > span.active:hover,
.pagination > li > button.active:focus,
.pagination > li > span.active:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

ul li {
  list-style-type: none;
  display: inline;
}


